body {
  background: #fff;
  color: #999;
  font: 100% 'Times New Roman', Georgia, serif;
  font-style: italic;
  letter-spacing: .2em;
  line-height: 150%;
  margin: 0;
  padding: 0 150px;
  text-align: center;
}
a {
  border-bottom: 1px dotted #ccc;
  color: #999;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid #ccc;
}
a:hover, a:active {
  color: #000;
}
#uuid {
  color: #ff4f00;
  font: 240% Helvetica, Arial, sans-serif;
  letter-spacing: .1em;
  margin-bottom: 0;
}
#explanation, #count, #about {
  padding-top: 1em;
  text-align: center;
}
#explanation {
  border-top: 1px dotted #ccc;
}
#about {
  border-top: 1px dotted #ccc;
  font-size: 60%;
  font-style: normal;
}